<!DOCTYPE html>
<html>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{{ static_url("css/index.css") }}" />
  <head>
    <title>{{ title }}</title>
  </head>
  <body>
    <table class="gridtable">
      <tr>
	<th>Date</th>
	<th>Temperature</th>
	<th>Rel. humidity</th>
      </tr>
      {% for item in items %}
      <tr>
	<td class="date"> {{ escape(item[0]) }}</td>
	<td class={{ escape(item[3]) }}>
	  {{ escape(item[1]) }}
	  <span style="font-size: 10px; font-weight: normal; color: #000000;">({{ escape(item[5]) }})</span>
	</td>
	<td class={{ escape(item[4]) }}>
	  {{ escape(item[2]) }}
	  <span style="font-size: 10px; font-weight: normal; color: #000000;">({{ escape(item[6]) }})</span>
	</td>
      </tr>
      {% end %}
      <tr>
	<td colspan=3><img alt="temperature_humidity" src="{{ static_url("images/test.png") }}" class="plot"/></td>
      </tr>
      <tr>
	<td colspan=3><img alt="photo" src="{{ static_url("images/IMG_20160117_140843_small.jpg") }}" class="photo"/></td>
      </tr>
    </table>
  </body>
</html>
